<style scoped>
    .right-conv {
        position: relative;
        left: 18vw;
        background: lightsteelblue;
    }

    #chatRoom{
        max-width: 100%;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
    }
    .chat {
        width: auto;
        font-size: 12px;
        max-width: 200px;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }
    
    .left-conv{
        background: ivory;
    }

    .badge{
        float: right;
    }
</style>

<template>
<div>

    <div id="chatRoom" v-chat-scroll>
    <div v-if="chats.length" >
        <div v-for="(chat, index) in chats" :key="index">
            <div class="right-conv chat" v-if="chat.user_id == userid">
                <span>
                    {{chat.conversation}} <br>
                    <span class="badge btn-dark">{{chat.created_at | dateFormat}}</span>
                </span>       
            </div>
            <div class="left-conv chat" v-else>
                {{chat.conversation}} <br>
                <span class="badge btn-dark">{{ chat.created_at | dateFormat }}</span>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="text-center">
            <h5>No Message</h5>
        </div>
    </div>

    </div>
        <chat-form :userid="userid" :friendid="friendid" :chats="chats"></chat-form>
</div>

    
</template>
<script>
export default {
    // In order to het chats vartiable from app.js, we need to get the variable in the Props attribute
    props:['chats', 'userid', 'friendid'],

    mounted() {
        var chat = document.getElementById('chatRoom');
        chat.scrollTop = chat.clientHeight;
    },

    filters: {
        dateFormat(value){
            var moment = require('moment');
            return moment(value).calendar();
        }
    },
}



</script>