<template>
    <div class="new-message-form">
        <div class="form-row align-items-center">
            <div class="col-sm-10 my-1" style="margin: 0; padding: 0">
                <input type="text" class="form-control" id="new-messahe" placeholder="Type your message"
                    @keyup.enter="sendMessage()" v-model="message"
                >
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary" @click="sendMessage()">Send</button>
            </div>
            <small class="chat-hint">Press Enter key or Click on Send to send your message</small>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'chats',
        'userid',
        'friendid'
    ],
    data() {
        return {
            message: ''
        }
    },

    watch: {
        message: function () {
            Echo.private('Chat.' + this.friendid + '.' + this.userid)
                .whisper('typing', {
                    name: this.message,
            });
        }
    },

    methods: {
        sendMessage: function (e) {
            //check if the message value is not empty before sending it
            if(this.message != ''){
                var data = {
                    conversation: this.message,
                    user_id: this.userid,
                    friend_id: this.friendid
                };

                this.message = "";
                //axios request to save the data to the database
                axios.post('/sendChat', data).then((response) => {
                    this.chats.push(response.data);
                });
            }
        }
    },
    
}
</script>