<style scoped>
    .msg-notif{
        position: relative;
        bottom: 8px;
        right: 8px;
        z-index: 4;
        font-size: 10px;
    }

    .new-msg {
        border-radius: 5px;
        font-size: 12px;
    }

    .messages {
        border-bottom: 1px solid whitesmoke;
        text-align: center;
    }
    
    .read-notif {
        font-weight: normal;
    }
    
    .unread-notif {
        font-weight: bold;
    }

    .btn:hover, .new-msg:hover {
        cursor: pointer;
    }

    .btn:hover {
        background: whitesmoke;
    }

    .msg-display {
        padding: 0;
    }

    .badge-dark{
        position: relative;
        left: 25px;
    }
</style>

<template>
  <li class="nav-item dropdown">
        <a id="navbarDropdown" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-facebook-messenger" style="font-size: 20px;"></i> <span class="badge badge-danger badge-pill msg-notif" v-if="unreads">{{unreads}}</span> <span class="caret"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right msg-display" aria-labelledby="navbarDropdown" style="background: lightgrey">
            <div v-if="notifications.length">
                <div class="new-msg" v-for="(notification, index) in notifications" :key="index">
                    <a class="dropdown-item messages" @click="markAsRead(notification)">
                        <strong >{{ notification.data.user.name }}</strong> <span class="badge badge-dark">{{ notification.data.chat.created_at | dateFormat }}</span> <br>
                        <span style="text-align: center;">{{notification.data.chat.conversation}}</span>
                    </a>
                    
                </div>
                <a class="btn btn-link form-control" @click="markAllAsRead()">Mark All as Read</a>
            </div>
            <div v-else class="alert alert-dark" style="text-align:center">
                No Message
            </div>
        </div>
    </li>
</template>
<script>
export default {
    props: ['notifications', 'unreads'],
    methods: {
        markAsRead: function (notification) {
            const url = $('meta[name="url"]').attr('content');
            var data =  {
                id: notification.id
            };
            axios.post('/markAsRead', data).then((response) => {
                window.location.href = url + "/chat/" + notification.data.chat.user_id;
            });
        },
        markAllAsRead: function () {
            
            axios.post('/markAllAsRead').then((response) => {
                location.reload();
            });
        }
    },

    filters: {
        dateFormat(value){
            var moment = require('moment');
            return moment(value).calendar();
        }
    },
}
</script>