<style scoped>
    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .online-icon {
        float:right;
        font-size:10px;
    }
</style>

<template>
    <span>
        <i class="fas fa-circle green online-icon" v-if="checkUser()"> </i>
        <i class="fas fa-circle red online-icon" v-else> </i>
    </span>
</template>
<script>
export default {
    props: ['friend', 'onlineusers'],
    methods: {
        checkUser: function () {
            // Using loadash command to check if the friendid is in the OnlineUSers
            return _.find(this.onlineusers, {id: this.friend.id});
        }
    }
}
</script>
